body {
    background-color: #999;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

/* Board styling */
.board {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-color: #fff;
    background-image: url("../images/board.png");
    background-size: 100% 100%;
}

.board > .cell {
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

#turn {
    height: 100px;
    width: 100px;
}